#3

In [1]:
import pandas as pd

In [2]:
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
from numpy import unravel_index

#4

###To keep from calling plt.show every time

In [3]:
%matplotlib inline

#5

In [4]:
###Read in gdp Data

In [5]:
gdp_df = pd.read_csv("../Data/gdp_percapita.csv", nrows=6868)

In [6]:
#print((gdp_df[0:7]))

#6

In [7]:
internet_df = pd.read_csv("../data/internet_use.csv", nrows=4495)

In [8]:
print((internet_df[0:7]))

  Country or Area  Year     Value  Value Footnotes
0     Afghanistan  2014  6.390000              NaN
1     Afghanistan  2013  5.900000              NaN
2     Afghanistan  2012  5.454545              NaN
3     Afghanistan  2011  5.000000              NaN
4     Afghanistan  2010  4.000000              NaN
5     Afghanistan  2009  3.550000              NaN
6     Afghanistan  2008  1.840000              NaN

#98

In [9]:
gdp_df.shape

(6868, 4)

In [10]:
#internet_df.shape

#6 - Repeat

In [11]:
#gdp_df.dtypes

In [12]:
#internet_df.dtypes

#99

In [13]:
#gdp_df.tail(10)

In [14]:
#internet_df.tail(10)

#7 and 8

In [15]:
gdpnew_df = gdp_df.rename(columns={'Country or Area': 'Country', 'Year': 'Year', 'Value': 'GDP_Per_Capita'})

In [16]:
#inplace=True allows for reasigning ... otherwise drop('ldfkj',1)

In [17]:
gdpnew_df.drop('Value Footnotes', axis=1, inplace=True)

In [18]:
print(gdpnew_df[0:7])

       Country  Year  GDP_Per_Capita
0  Afghanistan  2019     2065.036398
1  Afghanistan  2018     2033.779002
2  Afghanistan  2017     2058.383832
3  Afghanistan  2016     2057.062164
4  Afghanistan  2015     2068.265904
5  Afghanistan  2014     2102.385234
6  Afghanistan  2013     2116.465454

#7 and 9

In [19]:
internetnew_df = internet_df.rename(columns={'Country or Area': 'Country', 'Year': 'Year', 'Value': 'Internet_Users_Pct'})

In [20]:
internetnew_df.drop('Value Footnotes', axis=1, inplace=True)

In [21]:
print(internetnew_df[0:7])

       Country  Year  Internet_Users_Pct
0  Afghanistan  2014            6.390000
1  Afghanistan  2013            5.900000
2  Afghanistan  2012            5.454545
3  Afghanistan  2011            5.000000
4  Afghanistan  2010            4.000000
5  Afghanistan  2009            3.550000
6  Afghanistan  2008            1.840000

#10

In [22]:
gdp_and_internet_use = pd.merge(gdpnew_df, internetnew_df, on=['Country', 'Year'], how='left')

In [23]:
gdp_and_internet_use.dtypes

Country                object
Year                    int64
GDP_Per_Capita        float64
Internet_Users_Pct    float64
dtype: object

In [24]:
gdp_and_internet_use.shape

(6868, 4)

#11

In [25]:
print((gdp_and_internet_use[0:5]))

       Country  Year  GDP_Per_Capita  Internet_Users_Pct
0  Afghanistan  2019     2065.036398                 NaN
1  Afghanistan  2018     2033.779002                 NaN
2  Afghanistan  2017     2058.383832                 NaN
3  Afghanistan  2016     2057.062164                 NaN
4  Afghanistan  2015     2068.265904                 NaN

#12

In [26]:
gdp_and_internet_use.tail(5)

       Country  Year  GDP_Per_Capita  Internet_Users_Pct
6863  Zimbabwe  1994     3263.934978            0.001739
6864  Zimbabwe  1993     3033.504852                 NaN
6865  Zimbabwe  1992     3054.889178                 NaN
6866  Zimbabwe  1991     3426.598094                 NaN
6867  Zimbabwe  1990     3324.348171            0.000000

In [27]:
gdp_and_internet_use.sort_values(by = ['Country', 'Year'], axis=0, ascending=[True, True], inplace=True,
               kind='quicksort', na_position='first', ignore_index=True, key=None)

In [28]:
print((gdp_and_internet_use[0:5]))

       Country  Year  GDP_Per_Capita  Internet_Users_Pct
0  Afghanistan  2002     1189.784878            0.004561
1  Afghanistan  2003     1235.810063            0.087891
2  Afghanistan  2004     1200.278256            0.105809
3  Afghanistan  2005     1286.793508            1.224148
4  Afghanistan  2006     1315.789565            2.107124

In [29]:
gdp_and_internet_use.tail(5)

       Country  Year  GDP_Per_Capita  Internet_Users_Pct
6863  Zimbabwe  2015     2958.209004                 NaN
6864  Zimbabwe  2016     2934.733650                 NaN
6865  Zimbabwe  2017     3028.245976                 NaN
6866  Zimbabwe  2018     3130.029501                 NaN
6867  Zimbabwe  2019     2835.948532                 NaN

#13

In [30]:
year_subset = gdp_and_internet_use[(gdp_and_internet_use["Year"]==2004) | (gdp_and_internet_use["Year"]==2009) | (gdp_and_internet_use["Year"]==2014)]

In [31]:
year_subset.head(5)

        Country  Year  GDP_Per_Capita  Internet_Users_Pct
2   Afghanistan  2004     1200.278256            0.105809
7   Afghanistan  2009     1758.904043            3.550000
12  Afghanistan  2014     2102.385234            6.390000
32      Albania  2004     7604.838002            2.420388
37      Albania  2009    10346.864199           41.200000

#14

In [32]:
gdp_web_2004 = year_subset[(year_subset["Year"]==2004)]

In [33]:
gdp_web_2004.head(5)

                 Country  Year  GDP_Per_Capita  Internet_Users_Pct
2            Afghanistan  2004     1200.278256            0.105809
32               Albania  2004     7604.838002            2.420388
62               Algeria  2004    10058.435939            4.634475
92                Angola  2004     5593.241537            0.464815
122  Antigua and Barbuda  2004    18745.681534           24.266544

In [34]:
gdp_web_2009 = year_subset[(year_subset["Year"]==2009)]

In [35]:
gdp_web_2009.head(5)

                 Country  Year  GDP_Per_Capita  Internet_Users_Pct
7            Afghanistan  2009     1758.904043                3.55
37               Albania  2009    10346.864199               41.20
67               Algeria  2009    10782.361398               11.23
97                Angola  2009     7643.493749                6.00
127  Antigua and Barbuda  2009    20046.839017               42.00

In [36]:
gdp_web_2014 = year_subset[(year_subset["Year"]==2014)]

In [37]:
gdp_web_2014.head(5)

                 Country  Year  GDP_Per_Capita  Internet_Users_Pct
12           Afghanistan  2014     2102.385234                6.39
42               Albania  2014    11623.866679               60.10
72               Algeria  2014    11512.705405               18.09
102               Angola  2014     8239.828837               21.26
132  Antigua and Barbuda  2014    18104.241470               64.00

#15

In [38]:
#make an array to find use max

In [39]:
gdp_web_2014a = np.array(gdp_web_2014)

In [40]:
max_pct = np.nanmax(gdp_web_2014a[:,3])

In [41]:
print(max_pct)

98.16

In [42]:
np.argmax(gdp_web_2014a[:,3])

94

In [47]:
gdp_web_2014a[94:95,:]

array([['Iceland', 2014, 49652.1495003908, 98.16]], dtype=object)

In [ ]:
tmp = max(list1)
index = list1.index(tmp)
my_max_ind = data['x1'].idxmax()